@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #f1f1f1;
  --foreground: #171717;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 65px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit', sans-serif;
}